@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background: #f5a25d;
  color: #ebebeb;
  font-family: "Poppins", sans-serif;
}

.inputBox {
  height: 19em;
  width: 41em;
  background: #fa7f72;
  border-radius: 6px;
  box-shadow: 0px 0px 2px 1px #ffffff54;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#innerBox {
  width: 100%;
  height: 100%;
  position: relative;
}

#file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#contentBox,
#file + label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: transparent;
  height: 95%;
  width: 95%;
  display: inline-block;
}
#contentBox {
  z-index: 99;
}
#file + label {
  z-index: 101;
  cursor: pointer; /* "hand" cursor */
}
#contentBox::after {
  content: "Choose or drag a file";
  position: absolute;
  top: 50%;
  left: 32%;
  tansform: translate(-50%, -50%);
}
#contentBox[drop-hidden="true"]::after {
  content: "";
}

#innerBox[drop-active="true"] > #contentBox {
  border: 9px dashed #389393;
  border-radius: 6px;
  height: 85%;
  width: 85%;
}

#innerBox[drop-active="true"] > #contentBox::after {
  content: "Drop files here";
  position: absolute;
  top: 50%;
  left: 35%;
  tansform: translate(-50%, -50%);
}

#innerBox[drop-active="true"] {
  background-color: #ffffff0d;
  border-radius: 6px;
}

#elementsList {
  position: absolute;
  width: 100%;
  height: 100%;
}

#list {
  list-style: none;
  padding: 0px;
  margin: 1em;
}
#list li {
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
}

#file + label[enable-button="true"] {
  width: 6em;
  height: 2em;
  background: #389393;
  z-index: 101;
  bottom: 0;
  top: unset;
  cursor: pointer;
}
#file + label[enable-button="true"]::after {
  content: "Select files";
  width: fit-content;
  padding: 0 5px 0 6%;
  margin: auto;
  vertical-align: -18%;
}
#header {
  list-style: none;
  padding: 1em;
  padding-bottom: 0;
  margin: 0;
}
#header li {
  display: flex;
  justify-content: space-between;
}
